;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [app.mass]}}
        :devtools {:http-root "public"
                   :http-port 4001
                   :before-load app.mass/stop
                   :after-load app.mass/start}}}}
